body {
    background:#0b0f14;
    color:#e5e7eb;
    font-family: Inter, system-ui;
}

.card {
    background:#111827;
    padding:16px;
    border-radius:10px;
    margin-bottom:12px;
}

.pnl {
    font-size:32px;
    font-weight:700;
}

.green { color:#22c55e; }
.red { color:#ef4444; }

button {
    width:100%;
    padding:12px;
    font-size:15px;
    border-radius:8px;
    border:none;
    cursor:pointer;
}

button.success { background:#22c55e; }
button.danger { background:#ef4444; }
